langchain-groq==1.1.3
langchain-community==0.4.2
python-dotenv==1.2.2
uvicorn==0.50.2
fastapi==0.139.0
pydantic==2.13.4
streamlit==1.59.0
langgraph==1.2.8
langchain-core==1.4.8
setuptools==83.0.0
mcp[cli]==1.28.1